<h1>Hello World</h1>
<div class="container">

<form novalidate #f="ngForm" (ngSubmit) = "onSubmit(f)">

    <label>Name: </label>

    <input type="text" class="form-control" 
    name="name" 
    [(ngModel)]="user.name" 
    #userName = "ngModel"
    minlength="2"
    required
    >
    <div *ngIf="userName.errors?.minlength && userName.touched" class="alert-danger">
            Username must longer than 2 charecters
    </div>
    <div *ngIf="userName.errors?.required && userName.touched" class="alert-danger">
        Name is Required
    </div>
    
    <label>Email: </label>

    <input type="email" class="form-control" 
    name="email" 
    [(ngModel)]="user.email" 
    #userEmail = "ngModel"
    required
    >
    <div *ngIf="userEmail.errors?.required && userEmail.touched" class="alert-danger">
            Email is Required
    </div>


    <label>PhoneNO: </label>

    <input type="text" class="form-control" 
    name="phone" 
    [(ngModel)]="user.phoneNo" 
    #userPhone = "ngModel"
    minlength="10"
    >
    <div *ngIf="userPhone.errors?.minlength && userPhone.touched" class="alert-danger">
            Enter Valid Phone
        </div>

    <br><br>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
<h1>{{name}}</h1>
<hr>
<h1 *ngFor="let user of users">
    {{user}}
</h1>


</div>